@{
    ViewData["Title"] = "Clientes PDF";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            Reporte de Clientes
        </div>
        <div class="card-body">
            <form asp-action="ClientesReportPDF"
                  asp-controller="Reportes"
                  asp-antiforgery="true"
                  method="post"
                  asp-antiforgery="true">

                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Descargar lista de clientes PDF</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }